html{
	min-height: 100%;
	max-height: 100000px;
}

body{
    margin:0;
    padding:0;
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    /*color: black;*/
}

p.logo{
	font-family: 'Kyboshed';
	color: black;
	font-size: 3em;
	font-weight: bold;
	margin: 0;
	padding:0;
}

.centered{
	text-align: center;
}

#logo{
}

#header{
	position: fixed;
	background-color: white;
	width: 100%;
	height: auto;
	margin-top: 0px;
	padding:10px;
	z-index: 1;
}

#about{
	width: auto;
	height: auto;
	display: inline-block;
	float: left;
}

#user-menu{
	display: inline-block;
	float: right;
	right: 0;
}

#logged-out-menu{
	display: none;
}

#logged-in-menu{
	display: none;
}
/*Because header is fixed it doesn't take up space of the page. Need an (empty)
element the size of the header to push the rest of the content down */ 
#contentPush {
	/*header height + padding*/
	height: 80px;
	width: 100%;
}

#posts-container{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#content{
	margin: 0 auto;
	height: 100%;
	padding:20px;
}

.posts{
	position: relative;
	width:200px;
	height: 240px;
	background-color: white;
	border:2px solid #d6d6d6;
	border-radius: 8px;
	padding: 5px 25px 5px 25px;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: top;
}

img.hearticon{
	display: inline-block;
}

.heart{
	position: absolute;
	cursor: pointer;
	float: right;
	bottom: 5px;
	right: 10px;
}

/*Trick to center elements without a set width */
/*pointer-events:none makes it so that it doesn't cover i.e. links underneath */
.outer-center {
    float: right;
    right: 50%;
    position: relative;
    pointer-events:none;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
    pointer-events:auto;
}
.clear {
    clear: both;
}
/***************************************************/

#followers{
    position: fixed;
    background-color: #282828;
    width: 100%;
    bottom: 0;
    left: 0; 
    margin:0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

p.footer{
	font-size: 0.4em;
	margin: 0;
	padding: 0;
}

h4.title{
	padding: 0;
	margin: 0;
	font-family: ;
	font-size: 1.5em;
	color: black;
}

h4.logo{
	font-family: 'Calvin';
	font-size: 2em;
	color:black;
	padding: 0;
	margin: 0;
}

p.date{
	text-align: center;
	color: gray;
	font-family: Arial;
	font-size: 0.8em;
}

p.thing{
	color: black;
	font-family: sans-serif;
	font-size: 1em;
	text-align: left;
	padding:4px 6px;
	border-radius: 6px;
}

p.like{
	display: inline;
	color: black;
	font-family: sans-serif;
	font-size: 1.2em;
}

@font-face {
  font-family: 'Calvin';
  src: url('../assets/fonts/Calvin.woff') format('woff'),
       url('../assets/fonts/Calvin.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearLine';
  src: url('../assets/fonts/ClearLine.woff') format('woff'),
       url('../assets/fonts/ClearLine.ttf') format('truetype');
}
